<header>
  <div class="main-div">
    <div class="sub-main-div">

      <!-- Header Starts -->
      <div class="header">
        <img class="logo" [routerLink]="['/']" src="assets/icons/logo.png" />
        <div class="search-bar">
          <input type="text" class="search" placeholder="Search products in Heriken..." />
          <mat-icon>search</mat-icon>
        </div>
        <div class="account-section" *ngIf="isLoggedIn(); else loggedOutTemplate">
          <div class="account-icon">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="drop-arrow">
            <mat-icon (click)="toggleAccountDropdown()" (outsideClick)="toggleAccountDropdown()">arrow_drop_down</mat-icon>
            <div class="account-dropdown" *ngIf="showAccountMenu">
              <a [routerLink]="['/pages/account']">Profile</a>
              <a (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
        <ng-template #loggedOutTemplate>
          <div class="account-section" matTooltip="Login/Register" [routerLink]="['/pages/user']">
            <div class="account-icon">
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- Navbar Starts -->
      <div class="navbar">
        <ul>
          <li [routerLink]="['/']">Home</li>
          <li [routerLink]="['products']">Products</li>
        </ul>
      </div>

      <!-- Responsive Header Starts-->
      <div class="res-header">
        <div class="res-header-main">
          <div class="account">
            <mat-icon>account_circle</mat-icon>
          </div>
          <img class="logo" [routerLink]="['/']" src="assets/icons/logo.png" />
          <div class="res-search" *ngIf="!showSearchBox" (click)="toggleSearchBox()">
            <mat-icon>search</mat-icon>
          </div>
          <div class="cross" *ngIf="showSearchBox" (click)="toggleSearchBox()">
            <mat-icon>close</mat-icon>
          </div>
        </div>
        <div class="res-box" *ngIf="showSearchBox">
          <div class="res-main">
            <input placeholder="Search products in Heriken..." />
            <mat-icon>search</mat-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>