<div class="container">
    <div class="sidebar-area">
        <div class="profile-area">
            <div class="profile-img">
                <img src="assets/images/avatars/default.png">
            </div>
            <div class="img-title">
                <p></p>
            </div>
        </div>
        <div class="toggler">
            <ul>
                <li (click)="assignAccountComponent('basic-info')">
                    <mat-icon>perm_identity</mat-icon>
                    <span>Basic Information</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="content-container">
        <div class="content-area">
            <div class="content">
                <ng-container *ngComponentOutlet="accountSection"></ng-container>
            </div>
        </div>
    </div>
</div>