<div class="order-confirm-main">
    <div class="order-confirm-sub">
        <div class="content">
            <div class="tick-circle">
                <mat-icon>check</mat-icon>
            </div>
            <div class="success-message">
                <h3>Your Order ID is: </h3>
                <h4>Your Order has been placed successfully!</h4>
                <p>Your order has been successfully placed. Our customer care will soon call you to confirm the order
                </p>
            </div>
            <div class="home-btn">
                <button [routerLink]="['/']">Continue Shopping</button>
            </div>
        </div>
    </div>
</div>