<div class="allproducts-main">
  <div class="allproducts">
    <section class="product-filter">
      <div class="filter-category filter-range">
        <ng-container *ngIf="productCategories$ | async as productCategories">
          <h3 class="filter-title">Filter By Category</h3>
          <div class="categories" *ngFor="let category of productCategories">
            <mat-checkbox class="example-margin"
              (change)="onCategoryCheckboxChange(category.categoryName)"></mat-checkbox>
            <span>{{category.categoryName}}</span>
            <p class="category-quantity"></p>
          </div>
          <div class="filter-btn">
            <button (click)="getAllProducts()"><mat-icon>delete</mat-icon> Clear</button>
          </div>
        </ng-container>
      </div>

      <div class="filter-category filter-range">
        <ng-container *ngIf="productSubCategories$ | async as productSubCategories">
          <h3 class="filter-title">Filter By Sub Category</h3>
          <div class="categories" *ngFor="let subCategory of productSubCategories">
            <mat-checkbox class="example-margin"
              (change)="onSubCategoryCheckboxChange(subCategory.subCategoryName)"></mat-checkbox>
            <span>{{subCategory.subCategoryName}}</span>
            <p class="category-quantity"></p>
          </div>
          <div class="filter-btn">
            <button (click)="getAllProducts()"><mat-icon>delete</mat-icon> Clear</button>
          </div>
        </ng-container>
      </div>

      <div class="filter-category filter-range">
        <ng-container *ngIf="productBrands$ | async as productBrands">
          <h3 class="filter-title">Filter By Brand</h3>
          <div class="categories" *ngFor="let brand of productBrands">
            <mat-checkbox class="example-margin" (change)="onBrandCheckboxChange(brand.brandName)"></mat-checkbox>
            <span>{{brand.brandName}}</span>
            <p class="category-quantity"></p>
          </div>
          <div class="filter-btn">
            <button (click)="getAllProducts()"><mat-icon>delete</mat-icon> Clear</button>
          </div>
        </ng-container>
      </div>
    </section>

    <section>
      <div class="card-div-main">
        <div class="card-sub-div">
          <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>
      </div>
    </section>

  </div>
</div>