<div class="cart-box">
    <ng-container *ngIf="cartData$ | async as cartData; else emptyCartTemplate">
        <div *ngIf="cartData">
            <div class="top">
                <mat-icon>shopping_basket</mat-icon>
            </div>
            <div class="card-price">
                <!-- <span>৳{{subTotal | number}}</span> -->
                <span>{{cartData.totalQuantity | number : '2.0-0'}} Items</span>
            </div>
        </div>
    </ng-container>

    <ng-template #emptyCartTemplate>
        <div class="top">
            <mat-icon>shopping_basket</mat-icon>
        </div>
        <div class="card-price">
            <!-- <span>৳{{subTotal | number}}</span> -->
            <span>00 Items</span>
        </div>
    </ng-template>
</div>